{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    - {{ event.name }}
{% endblock %}

{% block loading %}
  <span id="loading">&nbsp;<img src="{% static 'img/ajax-loader.gif' %}" /></span>
{% endblock %}

{% block breadcrumb %}
  <nav class="breadcrumbs">
    <a href="/">Events</a>:
    <span>{{ event.name }}</span>

  </nav>
{% endblock %}

{% block content %}
  <div class="container"><div class="event-text">{{ event.text|safe }}</div></div>

  {% for b in bugs %}
    <div class="container">
      <div class="billboard bug">
        <div class="row">
          <div class="bug-text">
            <div class="bug-number">
              #{{ b.number }}</a>
              <span id="p{{ b.number }}"></span>
            </div>
            <h3>
            <a href="{{ b.bug_url }}" target="_blank" class="bug-title" id="b{{ b.number }}"></a>
            </h3>
            <div id="a{{ b.number }}" class="bug-assigned"></div>
          </div>
          <div class="bug-prize">
            {{ b.prize }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block js %}
  <script>

    $(document).ajaxStart(function () {
        $("#loading").show();
    });

    function get_bug(number) {
        $.ajax({
            url: "https://bugzilla.mozilla.org/rest/bug/" + number,
            dataType: "json",
        }).done(function(data) {
            var bug_summary = "#b" + number;
            var bug_assigned = "#a" + number;
            var bug_product = "#p" + number;

            var summary = data.bugs[0]['summary'];
            var assigned = data.bugs[0]['assigned_to_detail']['id'];
            var product = data.bugs[0]['product'];

            $(bug_summary).html(summary);
            $(bug_product).html("[" + product + "]");
            if (assigned == 1) {
                $(bug_assigned).html("Assigned");
            } else {
                $(bug_assigned).html("Not assigned");
            }
        });
    }

    {% for b in bugs %}
      get_bug({{ b.number }});
    {% endfor %}

    $(document).ajaxStop(function () {
        $("#loading").hide();
    });
  </script>
{% endblock %}