{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    - {{ event.name }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/bugs.css' %}" media="all">
{% endblock %}

{% block loading %}
  <span id="loading">&nbsp;<img src="{% static 'img/ajax-loader.gif' %}" /></span>
{% endblock %}

{% block breadcrumb %}
  <nav class="breadcrumbs">
    <a href="/">Events</a>:
    <span>{{ event.name }}</span>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="event-text-mobile">{{ event.text|safe }}</div>
  </div>

  <div class="container">
    <div class="event-text">{{ event.text|safe }}</div>
    <div class="products">
      <form action="" method="post">
        <div class="select">
          <select id="product-selection" name="product">
            <option selected value="0">Everything</option>
          </select>
        </div>
      </form>
    </div>
  </div>

  {% for b in bugs %}
    <div class="container">
      <div class="billboard bug">
        <div class="ribbon-wrapper"><div id="a{{ b.number }}" class="ribbon"></div></div>
        <div class="bug-text">
          <div class="bug-number">
            #{{ b.number }}</a>
            <span id="p{{ b.number }}" data-product=""></span>
          </div>
          <h3>
            <a href="{{ b.bug_url }}" target="_blank" class="bug-title" id="b{{ b.number }}"></a>
          </h3>
          <div id="m{{ b.number }}" class="bug-modified"></div>
        </div>
        {% if b.prize %}
          <div class="bug-prize"
               title="If you have fixed this bug before the end of the event, please come by the Mozilla booth to pick up your prize.">
            Prize: {{ b.prize }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block js %}
  <script src="{% static 'js/libs/moment.min.js' %}"></script>
  <script src="{% static 'js/bugs.js' %}"></script>
  <script>
    get_bugs([{{ bug_numbers|join:", " }}]);
  </script>
{% endblock %}