{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    - {{ event.name }}
{% endblock %}

{% block loading %}
  <span id="loading">&nbsp;<img src="{% static 'img/ajax-loader.gif' %}" /></span>
{% endblock %}

{% block breadcrumb %}
  <nav class="breadcrumbs">
    <a href="/">Events</a>:
    <span>{{ event.name }}</span>

  </nav>
{% endblock %}

{% block content %}
  <div class="container"><div class="event-text">{{ event.text|safe }}</div></div>

  {% for b in bugs %}
    <div class="container">
      <div class="billboard bug">
        <div class="row">
          <div class="bug-text">
            <div class="bug-number">
              #{{ b.number }}</a>
              <span id="p{{ b.number }}"></span>
            </div>
            <h3>
            <a href="{{ b.bug_url }}" target="_blank" class="bug-title" id="b{{ b.number }}"></a>
            </h3>
            <div id="a{{ b.number }}" class="bug-assigned"></div>
          </div>
          <div class="bug-prize"
               title="If you have fixed this bug before the end of the event, please come by the Mozilla booth to pick up your prize.">
            Prize: {{ b.prize }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block js %}
  <script>

    $(document).ajaxStart(function () {
        $("#loading").show();
    });

    function get_bugs(numbers) {
        $.ajax({
            url: "https://bugzilla.mozilla.org/rest/bug",
            data: {
              id: numbers,
              include_fields: 'id,assigned_to,component,product,mentors,product,resolution,summary'
            },
            traditional: true,  // pass id=number several times
            dataType: "json",
        }).done(function(data) {
            $.each(data.bugs, function(i, bug) {
                var number = bug.id
                var bug_summary = "#b" + number;
                var bug_assigned = "#a" + number;
                var bug_product = "#p" + number;

                var summary = bug.summary;
                var assigned = bug.assigned_to_detail.id;
                var product = bug.product;

                $(bug_summary).text(summary);
                $(bug_product).text("[" + product + "]");
                if (assigned !== 1) {
                    $(bug_assigned).text("Assigned");
                } else {
                    $(bug_assigned).text("Not assigned");
                }
            });
        });
    }

    get_bugs([{{ bug_numbers|join:", " }}]);

    $(document).ajaxStop(function () {
        $("#loading").hide();
    });
  </script>
{% endblock %}