{% extends "base.html" %}

{% block content %}
  <hgroup id="main-feature" class="center">
    <h2>Select event to view bugs.</h2>
  </hgroup>
  {% for event in events %}
    <a href="{% url 'event' event.slug %}">
      <div class="billboard event-listing">
        <h1>{{ event.name }}</h1>
        <span class="bugs-counter">
          {{ event.bug_count }} bug{{ event.bug_count|pluralize }}
        </span>
      </div>
    </a>
  {% endfor %}

  <div class="archived">Archived events</div>

  {% for event in archived %}
    <div class="billboard event-listing archived">
      <h1>{{ event.name }}</h1>
      <span class="bugs-counter">
        {{ event.bug_count }} bug{{ event.bug_count|pluralize }}
      </span>
    </div>
  {% endfor %}

{% endblock %}
